*.iml
.gradle
.vscode
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
*.log
*.tmp
*.bak
*.swp
*~
gen/
out/
proguard/
.navigation/
*.hprof
gradle.properties
